html,
body {
	height: 100%;
	@media (max-width: 580px) {
		overflow-x: hidden;
	}
}

.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1360px;
	margin: 0 auto;
	padding: 0;
	&--header {
		@include flex;
	} 
	@media (max-width: 780px) {
		max-width: 708px;
		padding: 0 15px;
		margin: 0;
	}
	@media (max-width: 580px) {
		max-width: 100%;
		padding: 0 15px;
		margin: 0;
	}
}

.subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    color: $black-color;
	&--white {
		color: #FFFFFF;
	}
	@media (max-width: 780px) {
		font-size: 40px;
	}
	@media (max-width: 580px) {
		font-size: 30px;
	}
}




