html,
body {
	height: 100%;
}

.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1360px;
	margin: 0 auto;
	padding: 0;
	&--header {
		@include flex;
	} 
}

.subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    color: $black-color;
	&--white {
		color: #FFFFFF;
	}

}





