.tokenomics {
    &__wrapper {
        position: relative;
        margin: 0 auto;
        padding-top: 91px;
        padding-bottom: 95px;
        max-width: 1486px;
        height: 750px;
        background: rgba(#F0F0F0, 0.6);
        border-radius: 100px;
    }
    &__union {
        position: absolute;
        top: -44px;
        right: 109px;
    }
    &__header {
        margin-left: 47px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 39px;
    }
    &__descr {
        margin-top: 9px;
        width: 415px;
        height: 50px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: $black-color;
    }
    &__dividers {
        margin-top: 55px;
        margin-left: 47px;
        @include flex;
        justify-content: flex-start;
        gap: 10px;
    }
    &__divider {
        height: 8px;
        background: linear-gradient(90deg, #2E31BC 0%, rgba(46, 49, 188, 0) 100%);
        border-radius: 20px;
        &--media {
            display: none;
        }
        &--first {
            width: 278px;
        }
        &--second {
            width: 341px;
        }
        &--third {
            width: 310px;
        }
        &--fourth {
            width: 182px;
        }
        &--fifth {
            width: 129px;
            background: #85839E;
            border-radius: 20px;
            opacity: 0.2;
        }
    }
    &__items {
        margin-top: 15px;
        margin-left: 47px;
        display: grid;
        grid-template-columns: 205px 250px 255px 244px;
        column-gap: 83px;
    }
    &__item {
        display: flex;
        flex-flow: column;
        &--fifth {
            margin-top: -33px;
        }
        &--media {
            display: none;
        }
    }
    &__item-num {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: $blue-color;
        &--third {
            margin-left: 19px;
        }
    }
    &__item-title {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: rgba($black-color, 0.3);
        &--black {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: $black-color;
        }
        &--third {
            margin-left: 19px;
        }
    }
    &__item-list {
        margin-top: 22px;
        display: flex;
        flex-flow: column;
        gap: 11px;
        &--third {
            margin-left: 19px;
        }
        &--fourth {
            width: 184px;
            height: 85px;
        }
        &--fifth {
            width: 255px;
            gap: 5px;
        }
    }
    &__item-point {
        position: relative;
        &::before {
            content: '';
            width: 4px;
            height: 4px;
            position: absolute;
            background-image: url("../images/tokenomics/gray-round.png");
            top: 4px;
            left: -14px;
        }
    }
    &__item-descr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $black-color;
    }
    &__item-divider {
        margin-top: 10px;
        width: 248px;
        height: 2px;
        background: rgba(#C4C4C4, 0.3);
    }
}